$myBGColor: #173146;
$myHighlightColor: orange;


* {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: "Oswald";
	color: rgb(255, 255, 255);
	text-decoration: none;
	list-style-type: none;
}

#universalSignInContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $myBGColor;
}

