$myBGColor: #173146;
$myHighlightColor: orange;

* {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: "Oswald";
	color: rgb(255, 255, 255);
	text-decoration: none;
	list-style-type: none;
}

footer {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.51);
}