@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Ensure base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

*:required {
  border: 1px solid red;
}

body {
  box-sizing: border-box;
  line-height: 1.15;
  background-color: var(--background-site);
  font-family: 'Roboto';
}

.fade-in {
  animation: fadeInLeftToRight 600ms ease-out forwards;
}


.slick-slide {
  padding: 0px 5px;
}

/* styles.css */
.slick-dots {
  bottom: 10px; /* Adjust the position of the dots */

}

.slick-dots li button {
  background-color: whitesmoke; /* Default dot color */
}


.slick-dots button:before {
  font-size: 10px; /* Adjust size if necessary */
  color: #ffffff; /* Dot color */
  opacity: 1; /* Make sure the dots are fully visible */
  color: white;
  fill: white;
  background: white;
  background-color: white;
}

